@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-size: 14px;
  line-height: 17px;
}

* {
  font-family: 'Inter', system-ui;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  padding-top: 43px;
  max-width: 1080px;
  background-color: #fff;
  border-radius: 20px;
  margin: 85px auto;
}

.header {
  padding-bottom: 44px;
  border-bottom: 1px solid #eaeaea;

  .headerleft {
    h3 {
      font-family: Inter;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000000;
    }

    p {
      font-family: Inter;
      font-size: 14px;
      line-height: 17px;
      color: #9d9d9d;
    }

    img {
      margin-right: 15px;
    }
  }

  .headerRight {
    padding-right: 60px;

    li {
      cursor: pointer;
    }

    span {
      margin-left: 15px;
    }
  }
}

.content {
  h1 {
    margin: 0;
  }

  &__search-box {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    display: flex;
    padding: 0 15px;
  }

  &__search {
    padding: 13px;
    max-width: 250px;
    font-size: 16px;
    border: none;
    &::placeholder {
      color: #c4c4c4;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
}

// .overlay {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 3;
// }

// .drawer {
//   position: absolute;
//   width: 385px;
//   height: 100%;
//   right: 0;
//   background: #fff;
//   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
//   padding: 30px;

//   .basket {
//     font-size: 24px;
//     font-weight: 700;
//     line-height: 29px;
//     text-align: left;
//     margin-bottom: 30px;
//     display: flex;
//     justify-content: space-between;

//     img {
//       cursor: pointer;
//       opacity: 0.7;

//       &:hover {
//         opacity: 1;
//       }
//     }

//     &__empty {
//       img {
//         display: block;
//         margin: 0 auto;
//       }
//       &-title {
//         text-align: center;
//         margin-top: 25px;
//         margin-bottom: 15px;
//         font-size: 21px;
//       }
//       &-text {
//         text-align: center;
//         margin-bottom: 15px;
//       }
//       &-btn {
//         color: #fff;
//         background-color: #9dd458;
//         border: none;
//         width: 325px;
//         padding: 18px 0;
//         border-radius: 18px;
//         font-size: 16px;
//         position: relative;
//         img {
//           position: absolute;
//           left: 33px;
//           top: 22px;
//           width: 13px;
//           height: 12px;
//           transform: rotate(180deg);
//           transition: transform 0.2s ease-in-out;
//         }

//         &:hover {
//           cursor: pointer;
//           background: lighten(#9dd458, 2%);
//           img {
//             transform: translateX(-10px) rotate(180deg);
//           }
//         }
//       }
//     }
//   }
// }

// .addedItems {
//   overflow: auto;
// }

// .addedItem {
//   max-width: 325px;
//   border: 1px solid rgba(243, 243, 243, 1);
//   border-radius: 20px;
//   padding: 30px 20px;
//   display: flex;
//   align-items: center;
//   margin-bottom: 20px;

//   &__info {
//     padding: 0 12px 8px 20px;
//   }

//   &__title {
//     font-size: 14px;
//     font-weight: 400;
//   }

//   &__price {
//     font-weight: bold;
//     margin-top: 8px;
//   }

//   .deleteBtn {
//     cursor: pointer;
//     opacity: 0.5;
//     &:hover {
//       opacity: 1;
//     }
//   }
// }

// .makeOrder {
//   position: -webkit-fixed;
//   position: fixed;
//   bottom: 30px;
//   width: 325px;
//   background-color: #fff;

//   span {
//     white-space: nowrap;
//   }

//   &__sum {
//     font-size: 16px;
//     line-height: 20px;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 22px;
//   }

//   &__num {
//     font-weight: 600;
//   }

//   .dash {
//     border-bottom: 1px dashed #dfdfdf;
//     margin: 0 5px;
//     width: 100%;
//   }

//   &__btn {
//     width: 325px;
//     border-radius: 18px;
//     border: none;
//     background-color: #9dd458;
//     color: #fff;
//     padding: 18px 0;
//     font-size: 16px;
//     cursor: pointer;
//     position: relative;

//     img {
//       position: absolute;
//       right: 33px;
//       top: 22px;
//       transition: transform 0.2s ease-in-out;
//     }

//     &:hover {
//       background: lighten(#9dd458, 2%);
//       img {
//         transform: translateX(10px);
//       }
//     }

//     &:active {
//       background: darken(#9dd558, 5%);
//     }

//     &:disabled {
//       background-color: #bebebe;
//       cursor: default;
//       animation: button-loading 0.6s ease-in-out infinite;
//     }
//   }
// }

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
